@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
font-family: 'Nanum Gothic', sans-serif;
color: black;
background-color: white;
transition: background-color 500ms ease 0s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: black;
  transition: background-color 500ms ease 0s;
}

small {
  transition: background-color 500ms ease 0s;
}

#sans {
  transition: background-color 500ms ease 0s;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin-top: -70px;
  width: 300px;
}
