@import url(https://fonts.bunny.net/css?family=kosugi-maru:400);

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: thin;
}
    
@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'LINESeedKR-Rg', 'LINESeedKR-Bd', 'LINESeedKR-Th', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    margin: 0;
    overflow: hidden;
}

input#year {
    margin: 10px;
    border: 0px;
    width: 200px;
    font-family: 'LINESeedKR-Bd';
    font-size: 30pt;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

input#year::placeholder {
    font-family: 'LINESeedKR-Rg';
}

div {
    width: 100vw;
    height: 100vh;
}

div#left {
    display: flex;
    width: 40%;
    float: left;
    box-sizing: border-box;
    background: #f0f0f0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

div#right {
    display: flex;
    width: 60%;
    float: right;
    box-sizing: border-box;
    background: #ffffff;
    color: #000000;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    padding: 5%;
    flex-direction: column;
    flex-wrap: nowrap;
}

div#picture {
    height: 440px;
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin-right: -1%;
    margin-bottom: -1%;
    background-image: url();
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.6;
    pointer-events: none;
}

div#info {
    position: absolute;
    width: 50%;
    height: auto;
    right: 0%;
    bottom: 0%;
    padding: 5%;
    font-size: 14pt;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

a {
    color: black;
}

p {
    margin: 0;
    z-index: 1;
}

span#year_t {
    font-weight: 700;
    margin: 0;
    font-size: 72pt;
}

span#year_h {
    font-family: 'Kosugi Maru', sans-serif;
    margin: 0;
    font-size: 36pt;
}

span#year_y {
    margin: 0;
    font-size: 45pt;
}

p#year_a {
    font-size: 24pt;
}

@media (max-width: 1400px) {
    div#picture {
        height: calc(60vw - 28.5vw);
    }
}

@media (max-width: 855px) {
    div#left {
        width: 100%;
        height: 20%;
    }
    div#right {
        width: 100%;
        height: 80%;
    }
    div#picture {
        height: 270px;
    }
    div#info {
        left: 0%;
        width: auto;
    }
}

@media (max-width: 475px) {
    span#year_t {
        font-size: 48pt;
    }
    span#year_h {
        font-size: 24pt;
    }
    span#year_y {
        font-size: 30pt;
    }
    div#info {
        font-size: 10pt;
    }
    div#picture {
        height: 200px;
    }
}

@media (max-width: 320px) {
    span#year_t {
        font-size: 48pt;
    }
    span#year_h {
        font-size: 24pt;
    }
    span#year_y {
        font-size: 30pt;
    }
    span#year_i {
        font-size: 18pt;
    }
}

@media (prefers-color-scheme: dark) {
    div#left {
        background-color: #2B2B2B;
        color: #ffffff;
    }
    div#right {
        background-color: #121212;
        color: #ffffff;
    }
    input#year {
        background-color: #121212;
        color: #ffffff;
    }
    input#year::placeholder {
        color: #ffffff
    }
    div#info {
        color: #ffffff;
    }
    a {
        color: #ffffff;
    }
}